DATABASE_URL="postgresql://postgres:postgres@localhost:5432/agedoce"
NEXT_PUBLIC_APP_NAME="Sistema AGEDOCE / Aplicar"
AUTH_MODE="mock"
ENTRA_TENANT_ID=""
ENTRA_CLIENT_ID=""
ENTRA_CLIENT_SECRET=""
SHAREPOINT_SITE_ID=""
GRAPH_CLIENT_ID=""
GRAPH_CLIENT_SECRET=""
